.medium-6.medium-offset-3.columns.panel.radius
  %h1 My profile
  %table
    %thead
      %tr
        %th{width: "150"}Username
        %th Profile photo
        %th{width: "150"}Email
        %th{width: "150"}Location
    %tbody
      %tr
        %td 
          = current_user.username
        %td
          %img{center: "", src: "#{ current_user.image.url(:thumb)}", style: "border-radius: 100%"}
        %td
          = current_user.email
        %td 
          = current_user.location
.medium-6.medium-offset-3.columns.panel.radius
	%h1 My snaps
  - if @snaps.count > 0 
  	%ul.no-bullet#snaps
      = render @snaps
      = will_paginate @snaps
  - else 
    .medium-6.medium-offset-3.columns.panel.radius.text-center
      Oh, snap! You have no snaps!
