<div class="medium-6 medium-offset-3 columns panel radius">
<h1> My profile </h1>
<table class>
  <thead>
    <tr>
      <th width="150">Username</th>
      <th>Profile photo</th>
      <th width="150">Email</th>
      <th width="150">Location</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= current_user.username%></td>
      <td><img center src= "<%= current_user.image.url(:thumb) %>" style="border-radius: 100%"></td>
      <td><%= current_user.email%></td>
      <td><%= current_user.location%></td>
    </tr>
  </tbody>
</table>
</div>

<div class="medium-6 medium-offset-3 columns panel radius ">
	<h1> My snaps </h1>
</div>
<% if @snaps.count > 0 %>
	<ul class="no-bullet" id="snaps"><%= render @snaps %></ul>
	<%= will_paginate @snaps %>
<% else %>
	<div class="medium-6 medium-offset-3 columns panel radius text-center">Oh, snap! You have no snaps!</div>
<% end %>

