-if @snap
	%ul.no-bullet#snaps
		= render @snap
		.medium-6.medium-offset-3.columns.panel.radius.text-center
			= form_for @comment do |form| 
				= form.text_area :comment, :placeholder => "Share your thoughts"
				= form.hidden_field :snap_id, :value => @snap.id
				%div
					= form.submit "Comment", :class => "button tiny radius"
			%hr
			= render @snap.comments.reverse
- else 
	.medium-6.medium-offset-3.columns.panel.radius.text-center
	Oh, snap! This snap does not exist!