<!DOCTYPE html>
<html>
<head>
  <title>Snapr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<a href='/snaps/new'> Snap! </a>
</header>

<div id="flash-container">
  <% if flash[:notice] %>
    <div class="flash notice">
      <%= flash[:notice] %>
    </div>
  <% flash[:notice] = nil %>
  <% end %>

  <% if flash[:errors] && !flash[:errors].empty? %>
    <ul id="errors">
      <% flash[:errors].each do |error| %>
        <li class="flash error"><%= error %></li>
      <% end %> 
    </ul>
  <% end %>
</div>

<%= yield %>

</body>
</html>
